---
apiVersion: v1
kind: Service
metadata:
  annotations:
    app.kubernetes.io/instance: {{ name | default('openshift-console') }}
    app.kubernetes.io/name: {{ name | default('openshift-console') }}
    app.kubernetes.io/version: {{ version }}
    instance: {{ name | default('openshift-console') }}
    name: {{ name | default('openshift-console') }}
  labels:
    app.kubernetes.io/instance: {{ name | default('openshift-console') }}
    app.kubernetes.io/name: {{ name | default('openshift-console') }}
    app.kubernetes.io/version: {{ version }}
    instance: {{ name | default('openshift-console') }}
    name: {{ name | default('openshift-console') }}
  name: {{ name | default('openshift-console') }}
  namespace: {{ namespace }}
spec:
  ports:
  - name: http
    port: 9000
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/instance: {{ name | default('openshift-console') }}
    app.kubernetes.io/name: {{ name | default('openshift-console') }}
